.movies-cardlist {
  max-width: 1280px;
}
.movies-cardlist__movies-list {
  width: 100%;
  min-height: 47vh;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 70px 70px 30px 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px 24px;
  justify-items: center;
}
.movies-cardlist__show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 36px;
  background: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin: 0 auto 80px;
  padding: 0;
  cursor: pointer;
}
.movies-cardlist__notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF4062;
  margin: 80px 0 -233px 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .movies-cardlist {
    width: 100%;
  }
  .movies-cardlist__movies-list {
    padding: 70px 30px 30px 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px 36px;
  }
}
@media screen and (max-width: 767px) {
  .movies-cardlist__movies-list {
    padding: 40px 10px 30px 10px;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
@media screen and (min-width: 1108px) and (max-width: 1240px) {
  .movies-cardlist__movies-list {
    gap: 30px 65px;
  }
}
