.burger-button-menu {
  display: none;
}
  
@media screen and (max-width: 768px) {
  .burger-button-menu {
    display: block;
    width: 44px;
    height: 44px;
    border: none;
    background: url(../../images/burger-menu.svg) no-repeat;
    background-position: center;
    cursor: pointer;
  }
}