.saved-movies {
  min-height: 74vh;
}
.saved-movies__not-found-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
  color: #FF4062;
  text-align: center;
  margin: 80px 0 -233px 0;
}